@model SilverProjects.Models.MPGIndexViewModel




<h1>Online MPG Calculator</h1>
<br/>
<p class="justify">This is the online version of the MPG Calculator. To use this page, you need to wait 
    until your car's "Low Fuel" warning light to come on before going to refuel, then reset the trip 
    counter after refuelling and make a note of the cost per litre of the fuel and how much fuel 
    in £ you have pumped. Once your fuel warning light comes on again, make a note of the mileage you 
    have done and enter all three figures below.</p>
<br/>
@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>@Html.LabelFor(o => o.CostPerL)</th>
                <th>@Html.LabelFor(o => o.CostPumped)</th>
                <th>@Html.LabelFor(o => o.Miles)</th>
                <th>@if (Model.CanShowResult)
                    {
                        @Html.LabelFor(o => o.Result)
                        ;
                    }</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.EditorFor(o => o.CostPerL)</td>
                <td>@Html.EditorFor(o => o.CostPumped)</td>
                <td>@Html.EditorFor(o => o.Miles)</td>
                <td>@if (Model.CanShowResult)
                    {
                        @Html.DisplayTextFor(o => o.Result);
                    }</td>
            </tr>
        </tbody>
    </table>
    @Html.ValidationSummary()
    <br/>
    <br/>
    <input type="submit" class="submit-button" value="Calculate" />
}

