@model SilverProjects.Models.MPGIndexViewModel

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
        <th>@Html.LabelFor(o => o.CostPerL)</th>
        <th>@Html.LabelFor(o => o.CostPumped)</th>
        <th>@Html.LabelFor(o => o.Miles)</th>
        <th>@Html.LabelFor(o => o.Result)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.EditorFor(o => o.CostPerL)</td>
                <td>@Html.EditorFor(o => o.CostPumped)</td>
                <td>@Html.EditorFor(o => o.Miles)</td>
                <td>@Model.Result</td>
                </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <input type="submit" />
}

