@model IEnumerable<SilverProjects.Models.Photographs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<img src="/PhotographFiles/DSC02470.jpg">
<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm()){
        <p> Search photographs by tags: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" /></p>
    }
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.filepath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.filepath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
