@model IEnumerable<SilverProjects.Models.Photos>

@{
    ViewBag.Title = "Photography Gallery";
}

<h2>Photography Gallery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <!--placeholder-->

@foreach (var item in Model)
{

    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Title)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <img src="\PhotographFiles\@Html.DisplayFor(modelItem => item.FileName)">
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
